body {
  margin: 0;
  padding: 0;
  background-color: #58718e;
}

header#utilities {  
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  padding: 0px 2%;
  background-color: #83aae1;  
}

li#utilities, a#utilities, button#utilities{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
}

a#utilities, button#utilities {
  transition: all 0.3s ease 0s;
}

.navibar#utilities {
  overflow: hidden;
  background-color: #83aae1;
  list-style-type: none;
}

.navibar#utilities li#utilities {
  display: inline-block;
  padding: 0px 20px;
}

.navibar#utilities li#utilities a#utilities:hover {
  color: #2d1f2b;
}

.logo {
  width: 134px;
  height: 56px;
  cursor: pointer;
}

button#utilities {
  padding: 9px 25px;
  background-color: #c42d4a;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-left: 20px;
}

button#utilities:hover {
  color: #2d1f2b;
}

.drop#utilities {
  overflow: hidden;
}

.drop#utilities .dbutton#utilities { 
  padding: 5px 15px;
  margin: 0;
}

.drop#utilities:hover .dbutton#utilities {
  color: #2d1f2b;
}

.dcontent#utilities {
  display: none;
  position: absolute;
  background-color: #83aae1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dcontent#utilities a#utilities {
  padding: 12px 16px;
  color: #ffffff;
  background-color: #58718e;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dcontent#utilities a#utilities:hover {
  background-color: #ffffff;
  color: #2d1f2b;
}

.drop#utilities:hover .dcontent#utilities {
  display: block;
}


.form-container{
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 0px 10px 0px;
  background-color: #ffffff;
  margin-top: 30%;
}
