<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Tracker</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        {% load static %}
        <script src="{% static 'script.js' %}"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <h2 style="padding: 1em 0 0.5em 0; text-align: center;">Covid-19 Update</h2>
            <div class="card">
                <h5 class="card-header">Jumlah Positif</h5>
                <div class="card-body">
                    <h5 class="card-title" id="jumlah_positif"></h5>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">Jumlah Sembuh</h5>
                <div class="card-body">
                    <h5 class="card-title" id="jumlah_sembuh"></h5>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">Jumlah Meninggal</h5>
                <div class="card-body">
                    <h5 class="card-title" id="jumlah_meninggal"></h5>
                </div>
            </div>

            {% if user.is_authenticated %}
                <h2 style="padding: 1em 0 0.5em 0; text-align: center;">Cek Data Provinsi</h2>
                <div class="row">
                    <div class="col-auto">
                        <label for="input_prov">Provinsi</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" class="form-control" id="input_prov">
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-primary mb-3" id="button_prov">Cek</button>
                    </div>
                </div>
                <div id="prov_container">
                    <h2 style="padding: 1em 0 0.5em 0; text-align: center;" id="prov-name">Nama Provinsi</h2>
                    <div class="card">
                        <h5 class="card-header">Jumlah Positif</h5>
                        <div class="card-body">
                            <h5 class="card-title" id="jumlah_positif_prov"></h5>
                        </div>
                    </div>
                    <div class="card">
                        <h5 class="card-header">Jumlah Sembuh</h5>
                        <div class="card-body">
                            <h5 class="card-title" id="jumlah_sembuh_prov"></h5>
                        </div>
                    </div>
                    <div class="card">
                        <h5 class="card-header">Jumlah Meninggal</h5>
                        <div class="card-body">
                            <h5 class="card-title" id="jumlah_meninggal_prov"></h5>
                        </div>
                    </div>
                </div>
            {% else %}
                <p>Login untuk menggunakan fitur cek data provinsi</p>
            {% endif %}

            
            
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
    </body>
</html>